body, html { margin: 0; height: 100%; padding: 0; background-image: linear-gradient(to bottom right, rgb(56, 172, 162), rgb(25, 151, 160)) }
* { font-family: sans-serif; }

@media screen and (min-width: 721px) {
    #content-agendar { width: 25%; }
} 

@media screen and (max-width: 720px) {
    #content-agendar { width: 50%; }
}

@media screen and (max-width: 480px) {
    #content-agendar { width: 70%; }
}

.title { font-size: 1.3em; display: block; text-align: center; font-weight: 700;}

#content-agendar { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 24px; background: #fff;  box-shadow: 1px 1px 2px #ccc; padding: 2%; }
#content-agendar form { width: 100%; }
#content-agendar label { margin-top: 4%; display: block; }
#content-agendar select { transition: 0.5s; cursor: pointer; display: block; width: 100%; margin: 2% auto; padding: 2% 0; outline: none; text-align-last: center; border-radius: 24px; border: 1px solid #ccc; }
#content-agendar select:hover { border: 1px solid rgb(56, 172, 162); }
#content-agendar input[type="submit"] { outline: none; cursor: pointer; transition: 0.5s; padding: 3% 12%; background-color: rgb(25, 151, 160); border-radius: 24px; margin: 4% auto 0; display: block; color: #fff; border: 0; }
#content-agendar input[type="submit"]:hover { background-color: #fff; color: rgb(25, 151, 160); border: 2px solid rgb(25, 151, 160); }